click             
colorama          
Flask             
Flask-CKEditor    
Flask-SQLAlchemy  
Flask-WTF         
greenlet          
itsdangerous      
Jinja2            
MarkupSafe        
pip               
psycopg2          
setuptools        
SQLAlchemy        
typing_extensions 
Werkzeug          
WTForms          