{% extends 'base.html' %}

<title>BlogPosts - {% block title %}{{post.title}}{% endblock %}</title>

{% block content %}

    <!-- Página de blog -->

    <article class="container blog-post">
        <h1 class="blog-post-title mb-1">{{post.title}}</h1>
        <p class="card-text mt-3">
            {% if get_user(post.author).photo is none %}
            <img src="{{url_for('static', filename = 'img/user-dark.png')}}" alt="mdo" width="30" class="rounded-circle">
            {% else %}
            <img src="{{url_for('static', filename = get_user(post.author).photo)}}" alt="mdo" width="30" class="rounded-circle ">
            {% endif %}

            <span class="mb-1 text-muted"><b>{{ get_user(post.author).username }}</b> - {{post.date_posted.strftime('%d de %B %Y')}}</span>



        </p>

        <p class="mb-5 mt-t">{{ post.info }}</p>
        <div class="mb-5 mt-5">
            {{ post['content'] | safe }}
        </div>
    </article>

{% endblock %}

{% block footer %}

<footer class="bg-dark-subtle py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-start">
          <p class="mb-0">© 2023 My Company, Inc.</p>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
          <p class="mb-0">Designed by <a href="#">Your Name</a></p>
        </div>
      </div>
    </div>
  </footer>
  
{%endblock%}