{% extends 'base.html' %}

<title>BlogPosts - {% block title %}Login{% endblock %}</title>

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css' )}}">



{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<header class="p-2 text-bg-dark">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <a href="{{ url_for('home.index') }}" class="d-flex align-items-center  mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{{ url_for('static', filename = 'img/bp-light.png' )}}" alt="blog posts" width="40">
            </a>        
        </div>
    </div>
</header>

    

    <!-- Login -->

    <section class="login">
        <main class="form-signin w-100 m-auto text-center">
            <img class="mb-4" src="../img/bp-dark.png" alt="" width="72">
            <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
            <form method="POST">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                    <label for="email">Correo</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    <label for="password">Contraseña</label>
                </div>
    
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar datos
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesion</button>
            </form>
            <hr class="my-4">
            <p class="text-muted text-center">Si no tienes una cuenta en BLOGS haz clic en
                <a href="{{ url_for('auth.register') }}">Crear cuenta</a>
            </p>
        </main>

    </section>
    

    {% endblock %}
